## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## .NET
*.pdb
TestResults/
artifacts/

## ASP.NET
appsettings.*.local.json

## OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
